<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/products/tabs/categories/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div text-center>
        <div *ngIf="!isLoading && categories?.length <= 0">
          <p>No categories found! Please create one first</p>
          <ion-button  color="primary" routerLink="/products/tabs/categories/new">Create New Category</ion-button>
        </div>
        
        <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
      </div>
    <app-category-list *ngIf="!isLoading && categories?.length > 0" [categories]="categories"></app-category-list>
</ion-content>
