<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button routerLink="/products/tabs/items/new">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <div text-center>
      <div *ngIf="!isLoading && products?.length <= 0">
        <p>No offers found! Please create one first</p>
        <ion-button  color="primary" routerLink="/products/tabs/items/new">Create New Product</ion-button>
      </div>
      
      <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
    </div>
  <app-product-list *ngIf="!isLoading && products?.length > 0" [products]="products"></app-product-list>
</ion-content>
